@font-face {
    font-family: 'shlopregular';
    src: url('fonte/shlop.regular-webfont.woff2') format('woff2'),
        url('fonte/shlop.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #bbefef;
    margin: auto;
}

h1 {
    font-family: sans-serif;
    color: white;
    text-align: center;
}

ul {
    display: flex;
    flex-flow: wrap;
}

li {
    margin: 0 1rem 0 1rem;
    list-style: none;
    font-family: sans-serif;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: black;
}


/**********************************ASSETLISTE*******************************************************/


img {
    height: auto;
    width: 100%
}

#figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}


#ui {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}

#projektil {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}


main {
    max-width: 1500px;
    margin: auto;

}

figure {
    float: right;
    width: 60%;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
}

figcaption {
    border: 3px white;
}

.baggrund {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/****************************************SPILLET****************************************************/
#screen {

    width: 100vw;
    height: 56.25vw;
    background-color: aqua;
    position: relative;
    background-size: cover;
    top: 0;
    left: 0;
    overflow: hidden;
}

#game {

    background-color: pink;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#start {

    background-image: url(assetsv2/fuldstartscreen_1.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*display: none;*/
}

#start_knap_container {
    position: absolute;
    top: 19vw;
    left: 47.5vw;
}

#start_knap_sprite {
    background-image: url(assetsv2/play_knap.svg);
    background-size: cover;
    width: 12vw;
    height: 6.5vw;
}

#info_boks {
    background-image: url(assetsv2/inforscreen.svg);
    background-size: cover;
    position: absolute;
    top: 12vw;
    left: 23vw;
    width: 67.73vw;
    height: 31.2vw;
}

#info_knap {
    background-image: url(assetsv2/play_knap.svg);
    background-size: cover;
    position: absolute;
    width: 24vw;
    height: 13vw;
    top: 27vw;
    left: 21vw;
}

#game_over {
    background-image: url(assetsv2/gameover_uden_ui.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

#ui_dead_redo {
    position: absolute;
    background-image: url(assetsv2/ui_redo_dead.svg);
    background-size: cover;
    width: 6vw;
    height: 7vw;
    top: 48vw;
    left: 74vw;
}

#dead_game_points {
    position: absolute;
    width: 50vw;
    height: 3vw;
    top: 46vw;
    left: 28vw;
    font-size: 3.5vw;
    font-family: 'shlopregular';
    color: darkred;
    text-shadow: 4px 4px black;
    text-align: justify;
}

#level_complete {
    background-image: url(assetsv2/flower_saved.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

#lvl_game_points {
    position: absolute;
    width: 60vw;
    height: 3vw;
    top: 38vw;
    left: 21vw;
    font-size: 2.5vw;
    font-family: 'Press Start 2P', cursive;
    font-weight: 700;
    color: white;
    text-shadow: 5px 5px black;

}

#ui_win_redo {
    position: absolute;
    background-image: url(assetsv2/ui_redo_youwin.svg);
    background-size: cover;
    width: 7vw;
    height: 8vw;
    top: 48vw;
    left: 84vw;
}


#game_points {
    position: absolute;
    top: 22vw;
    left: 50vw;
    width: 10vw;
    height: 10vw;
    color: blue;
}

.none {
    display: none;
}

#game_background {
    background-image: url(assetsv2/baggrund_himmel.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;


}

#game_elements {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#sol_container {
    position: absolute;
    top: 0vw;
    left: 75.5vw;
}

#sol_sprite {
    width: 30vw;
    height: 26.8vw;
    background-image: url(assetsv2/sol_animation.svg);
    background-size: 700% 100%;
}

#sol_sprite {
    animation-name: tunge_kf;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: steps(7);



}

@keyframes tunge_kf {
    from {
        background-position: 0%;
    }

    to {
        background-position: -700%;
    }
}

#blomst_container {
    position: absolute;
    top: 28vw;
    left: 64.5vw;
}

#blomst_sprite {
    width: 22vw;
    height: 21vw;
    background-image: url(assetsv2/blomst_animation.svg);
    background-size: 600% 100%;
}

#blomst_sprite {
    animation-name: blomst_kf;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);



}

@keyframes blomst_kf {
    from {
        background-position: 0%;
    }

    to {
        background-position: -600%;
    }
}

/***************************************************************************************/

#vand_container {
    position: absolute;
    top: -10vw;
    /*left: 50vw;*/
}

#vand_sprite {
    width: 1.5vw;
    height: 2vw;
    background-image: url(assetsv2/vand_drop.svg);
    background-size: cover;
}

#vand_container2 {
    position: absolute;
    top: -10vw;
    left: 33vw;
}

#vand_sprite2 {
    width: 1.5vw;
    height: 2vw;
    background-image: url(assetsv2/vand_drop.svg);
    background-size: cover;
}


#syre_container {
    position: absolute;
    top: -10vw;
    left: 70vw;
}

#syre_sprite {
    width: 1.5vw;
    height: 2vw;
    background-image: url(assetsv2/syre_regn.svg);
    background-size: cover;
}

#syre_container2 {
    position: absolute;
    top: -10vw;
    left: 20vw;
}

#syre_sprite2 {
    width: 1.5vw;
    height: 2vw;
    background-image: url(assetsv2/syre_regn.svg);
    background-size: cover;
}


#bombe_container {
    position: absolute;
    top: -10vw;
    left: 37vw;
}

#bombe_sprite {
    width: 3vw;
    height: 3vw;
    background-image: url(assetsv2/bombe_animation.svg);
    background-size: 400% 100%;
}

#bombe_container2 {
    position: absolute;
    top: -10vw;
    left: 50vw;
}

#bombe_sprite2 {
    width: 3vw;
    height: 3vw;
    background-image: url(assetsv2/bombe_animation.svg);
    background-size: 400% 100%;

}

.bombe {
    animation-name: bombe_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(4);
}

@keyframes bombe_kf {

    to {
        background-position: -400%;
        transform: scale(100);
    }
}


#ild_container {
    position: absolute;
    top: -10vw;
}


#ild_sprite {
    width: 2vw;
    height: 3vw;
    background-image: url(assetsv2/ild.svg);
    background-size: cover;
}

#ild_container2 {
    position: absolute;
    top: -10vw;
    left: 10vw;
}


#ild_sprite2 {
    width: 2vw;
    height: 3vw;
    background-image: url(assetsv2/ild.svg);
    background-size: cover;
}



#game_foreground1 {
    background-image: url(assetsv2/forgrund_spil.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}


#game_foreground2 {
    background-image: url(assetsv2/grene_forgrund.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

#game_middleground {
    background-image: url(assetsv2/spil_mellemgrund.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

#game_ui {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#score_board_container {
    position: absolute;
    top: 48.8vw;
    left: 15vw;

}

#score_board_sprite {
    position: absolute;
    width: 13vw;
    height: 6.1vw;
    background-image: url(assetsv2/ui_point_tom.svg);
    background-size: cover;
    text-align: center;
    font-family: sans-serif;
    font-size: 3vw;
    color: aliceblue;

}

#energy_board_container {
    position: absolute;
    top: 47vw;
    left: 2vw;

}


#energy_board_sprite {
    width: 13vw;
    height: 8vw;
    background-image: url(assetsv2/liv_div.svg);
    background-size: cover;

}

#liv1,
#liv2,
#liv3 {
    width: 3vw;
    height: 3.83vw;


}

#liv {

    display: flex;
    position: absolute;
    top: 2.6vw;
    left: 3vw;
}

#time_board_container {
    position: absolute;
    top: 9vw;
    left: 1vw;
    background-image: url(assetsv2/clock.svg);
    background-size: cover;
    width: 15vw;
    height: 11vw;

}

#time_board_sprite {
    position: absolute;
    width: 0.2vw;
    height: 3.5vw;
    top: 2.2vw;
    left: 7.8vw;
    background-color: black;
    transform-origin: bottom;

}

#options_container {
    position: absolute;
    top: 1vw;
    left: 1vw;

}

#options_sprite {
    width: 4vw;
    height: 4vw;
    background-image: url(assetsv2/ui_options.svg);
    background-size: cover;
}

#options_container:hover {
    box-shadow: 0 0 10px yellow;
}

/**********************************ANIMATIONER******************************************************/

#game_foreground2 {
    animation-name: grene_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes grene_kf {

    to {
        transform: scaleX(1.01)
    }
}

#sol_container {
    animation-name: sol_hover_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes sol_hover_kf {
    from {
        transform: translateY(1vw)
    }

    to {
        transform: translateY(-1vw)
    }
}

/**********************************************UI******************************************************/

#energy_board_container {
    animation-name: ui_hover_kf;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#score_board_sprite {
    animation-name: ui_hover_kf;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


#time_board_container {
    animation-name: ui_hover_kf;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@keyframes ui_hover_kf {
    from {
        transform: translateY(-0.2vw)
    }

    to {
        transform: translateY(0vw)
    }
}

/****************************************Classes*****************************************************/


.time {
    animation-name: time_kf;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes time_kf {

    100% {
        transform: rotate(360deg);

    }
}


.hidden {
    display: none;
}

.hide {
    opacity: 0;
}

.pos1 {

    left: 65vw;
}

.pos2 {

    left: 30vw;
}

.pos3 {

    left: 45vw;
}

.pos4 {

    left: 59vw;
}

.pos5 {

    left: 60vw;
}

.pos6 {

    left: 34vw;
}

.pos7 {

    left: 42vw;
}

.pos8 {

    left: 74vw;
}

.fald {
    animation-name: fald_kf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.speed1 {
    animation-duration: 5s;
}

.speed2 {
    animation-duration: 4s;
}

.speed3 {
    animation-duration: 4.3s;
}

.speed4 {
    animation-duration: 3.5s;
}

.speed5 {
    animation-duration: 3.8s;
}

.delay1 {
    animation-delay: 3s;
}

.delay2 {
    animation-delay: .5s;
}

.delay3 {
    animation-delay: 0s;
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(1, -0.42, .15, 1.47)
}

@keyframes pulse_kf {

    to {
        transform: scale(1.05);
    }
}



@keyframes fald_kf {
    from {
        transform: translateY(0vw)
    }

    to {
        transform: translateY(75vw)
    }
}

.frys {
    animation-play-state: paused;
}

.forsvind {
    animation-name: forsvind_kf;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes forsvind_kf {
    100% {
        opacity: 0
    }
}

.splat_vand {
    animation-name: splat_vand_kf;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}


@keyframes splat_vand_kf {

    50% {
        background-image: url(assetsv2/vand_splat.svg);
        width: 3vw;
        height: 2.6vw;
        transform: scale(3);

    }

    100% {
        background-image: url(assetsv2/vand_splat.svg);
        width: 3vw;
        height: 2.6vw;
        transform: scale(2) translateY(2vw);
        opacity: 0;
    }
}

.splat_syre {
    animation-name: splat_syre_kf;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}


@keyframes splat_syre_kf {

    50% {
        background-image: url(assetsv2/syre_splat.svg);
        width: 3vw;
        height: 2.6vw;
        transform: scale(3);

    }

    100% {
        background-image: url(assetsv2/syre_splat.svg);
        width: 3vw;
        height: 2.6vw;
        transform: scale(2) translateY(2vw);
        opacity: 0;
    }
}

.skaler {
    animation-name: skaler_kf;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}


@keyframes skaler_kf {

    100% {
        transform: scale(0);
        opacity: 0;
    }
}
